{% extends "base.html" %} {% block title %} Feedback {% endblock %} {% block
content %}
<div
  class="container mt-5 p-5"
  style="border-radius: 10px; background-color: white"
>
  <h5>Your input</h5>
  <p>{{user_msg}}</p>
  <p><b>Place: </b>{{place}}</p>
  <p><b>Description: </b>{{description}}</p>
  <p><b>Season: </b>{{season}}</p>
  <form action="/sendRetry" method="post">
    <div class="mb-3">
      <h5>Feedback</h5>
      <textarea
        class="form-control"
        name="feedback_msg"
        rows="5"
        placeholder="Write your feedback to point the misunderstanding."
      ></textarea>
      <input name="place" value="{{place}}" hidden />
      <input name="description" value="{{description}}" hidden />
      <input name="season" value="{{season}}" hidden />
      <input name="user_msg" value="{{user_msg}}" hidden />
    </div>
    <button type="submit" class="btn btn-primary">Try again</button>
  </form>
</div>
{% endblock %}
